
.body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

hr.solid {
  margin:0;
  width: 100%;
}

.header { 
    padding-top: 25px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.title {
    padding-left: 25px;
    font-size: 60px;
    display: block;
}

.title:first-letter {
  font-size: larger;
}

.subtitle {
  padding-left: 35px;
  margin: 0;
  font-size: 35px;
  padding-top: 20px;
  margin: 0;
}

.footer{
    background-color:rgb(80, 80, 80);
    height: 100px;
    width: 100%;
    display: flex;
    float: right;
}

.mode-button {
  float: left;
  font-weight: bold;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 21px;
}

.text-box {
  max-width: 300px;
  overflow: scroll;
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.text-content{
  padding-left: 55px;
}

.allign-center {
    text-align: center;
}

.ul-style {
  list-style-type: square;
  margin: 0;
}

 .switch {
  float: left;
  position: relative;
  margin-top: 5px;
  width: 60px;
  height: 34px;
}

#checkBox1 {
  opacity: 0;
  width: 0;
  height: 0;
}

#checkBox2{
  opacity: 0;
  width: 0;
  height: 0;
}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #476075;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.corner-text {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.margin-left {
  margin-left: 25px;
}

.large-text {
  font-size: 40px;
}

.small-text {
  font-size: 20px;
}

.min-height {
  min-height: 100px;
}


.left-div {
  display: flex;
  float: left;
}

.main {
  margin-left: 150px;
}

.svg-class {
  display: flex;
  float: left;
}

.imgGal{
  margin: auto;
  width: 50%;
  padding-top: 10px;
}

.author{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 22px;
}

.imgDiv{
  margin: 0;
  padding: 0;
}

.ul-style-header{
  list-style-type: none;
  margin: 0;
}


