


.body-theme {
  background-color: #181a1b;
}

hr.solid-theme {
  border-top: 3px solid rgb(38, 40, 40);
}


.topnav-theme {
  background-color: black;
}

.topnav-theme a {
  color: rgb(150, 190, 210);
}

.topnav-theme span {
  color: rgb(140, 182, 204);
}

.topnav-theme a:hover {
  background-color: rgb(100, 154, 154);
  color: black;
}

.topnav-theme a.active {
  background-color: rgb(98, 111, 124);
  color: black;
}

.header-theme {
    background-color: rgb(62, 62, 62);    
}

.content-theme{
  color: rgb(195, 215, 225);
  background-color: rgb(85, 80, 80);
}


.title-theme {
    color: rgb(189, 213, 224);
}

.subtitle-theme {
  color: rgb(188, 215, 229);
}

.footer-theme {
    background-color:rgb(80, 80, 80);
}


.mode-button-theme {
  color: rgb(51, 65, 72);
}



